In [37]:
import pandas as pd

df =pd.read_html("Seylan_Exchange_Rates.html")[0]

In [38]:
df

    Unnamed: 0_level_0 Unnamed: 1_level_0 Currency Notes            \
      Type of Currency         Short Code         Buying   Selling
0            US Dollar                USD       297.2500  306.7500
1       Sterling Pound                GBP       369.9493  398.7966
2                 Euro                EUR       311.7229  336.3464
3                  Yen                JPY         1.8700    2.0191
4          Swiss Franc                CHF       324.3275  353.8858
5    Australian Dollar                AUD       182.1044  203.7523
6      Canadian Dollar                CAD       207.6855  224.9068
7     Singapore Dollar                SGD       213.6554  232.8030
8      Hongkong Dollar                HKD        35.7888   41.2128
9   New Zealand Dollar                NZD       163.9666  185.4244
10      Swedish Kroner                SEK        24.5889   30.5571
11       Danish Kroner                DKK        38.7098   48.1054
12    Chinese Renminbi                CNY        34.1947   44.1519
13    Norwegian Kroner                NOK        24.1460   30.0067
14         UAE Dirhams                AED        71.6673   87.5593
15         Saudi Riyal                SAR        73.2300   84.3964
16        Indian Rupee                INR            NaN       NaN

   Traveller's Cheques/Drafts           Telegraphic Transfers            \
                       Buying   Selling                Buying   Selling
0                    299.0984  306.2500              300.2500  306.2500
1                    381.3702  398.7966              382.9440  398.7966
2                    321.6026  336.3464              322.9297  336.3464
3                      1.9215    2.0191                1.9294    2.0191
4                    331.6010  353.8858              332.9693  353.8858
5                    193.7322  203.7523              194.5316  203.7523
6                    212.9498  224.9068              213.8285  224.9068
7                    218.2274  232.8030              219.1279  232.8030
8                     36.3557   41.2128               36.5057   41.2128
9                    171.9215  185.4244              172.6310  185.4244
10                    25.5178   30.5571               25.6231   30.5571
11                    40.1163   48.1054               40.2818   48.1054
12                    39.1965   44.1519               39.3582   44.1519
13                    25.0802   30.0067               25.1837   30.0067
14                    75.0254   87.5593               76.8725   87.5593
15                    73.7804   84.3964               75.5968   84.3964
16                        NaN       NaN                3.2636    3.9877

   Import Bills
        Selling Unnamed: 9_level_1
0      306.7500                NaN
1      399.5942                NaN
2      337.0191                NaN
3        2.0232                NaN
4      354.5936                NaN
5      204.1598                NaN
6      225.3567                NaN
7      233.2686                NaN
8       41.2952                NaN
9      185.7953                NaN
10      30.6182                NaN
11      48.2016                NaN
12      44.2402                NaN
13      30.0667                NaN
14      87.7344                NaN
15      84.5652                NaN
16       4.0276                NaN

In [39]:
df.columns = ['_'.join(col).strip() for col in df.columns.values]
df1= df.reset_index()

In [40]:
df1.head(20)

,index,Unnamed: 0_level_0_Type of Currency,Unnamed: 1_level_0_Short Code,Currency Notes_Buying,Currency Notes_Selling,Traveller's Cheques/Drafts_Buying,Traveller's Cheques/Drafts_Selling,Telegraphic Transfers_Buying,Telegraphic Transfers_Selling,Import Bills_Selling,Import Bills_Unnamed: 9_level_1
0,0,US Dollar,USD,297.2500,306.7500,299.0984,306.2500,300.2500,306.2500,306.7500,NaN
1,1,Sterling Pound,GBP,369.9493,398.7966,381.3702,398.7966,382.9440,398.7966,399.5942,NaN
2,2,Euro,EUR,311.7229,336.3464,321.6026,336.3464,322.9297,336.3464,337.0191,NaN
3,3,Yen,JPY,1.8700,2.0191,1.9215,2.0191,1.9294,2.0191,2.0232,NaN
4,4,Swiss Franc,CHF,324.3275,353.8858,331.6010,353.8858,332.9693,353.8858,354.5936,NaN
5,5,Australian Dollar,AUD,182.1044,203.7523,193.7322,203.7523,194.5316,203.7523,204.1598,NaN
6,6,Canadian Dollar,CAD,207.6855,224.9068,212.9498,224.9068,213.8285,224.9068,225.3567,NaN
7,7,Singapore Dollar,SGD,213.6554,232.8030,218.2274,232.8030,219.1279,232.8030,233.2686,NaN
8,8,Hongkong Dollar,HKD,35.7888,41.2128,36.3557,41.2128,36.5057,41.2128,41.2952,NaN
9,9,New Zealand Dollar,NZD,163.9666,185.4244,171.9215,185.4244,172.6310,185.4244,185.7953,NaN
10,10,Swedish Kroner,SEK,24.5889,30.5571,25.5178,30.5571,25.6231,30.5571,30.6182,NaN
11,11,Danish Kroner,DKK,38.7098,48.1054,40.1163,48.1054,40.2818,48.1054,48.2016,NaN
12,12,Chinese Renminbi,CNY,34.1947,44.1519,39.1965,44.1519,39.3582,44.1519,44.2402,NaN
13,13,Norwegian Kroner,NOK,24.1460,30.0067,25.0802,30.0067,25.1837,30.0067,30.0667,NaN
14,14,UAE Dirhams,AED,71.6673,87.5593,75.0254,87.5593,76.8725,87.5593,87.7344,NaN
15,15,Saudi Riyal,SAR,73.2300,84.3964,73.7804,84.3964,75.5968,84.3964,84.5652,NaN
16,16,Indian Rupee,INR,NaN,NaN,NaN,NaN,3.2636,3.9877,4.0276,NaN

In [41]:
df_dropped = df1.drop(df1.columns[[0, -1]], axis=1)
df_dropped.head(20)

,Unnamed: 0_level_0_Type of Currency,Unnamed: 1_level_0_Short Code,Currency Notes_Buying,Currency Notes_Selling,Traveller's Cheques/Drafts_Buying,Traveller's Cheques/Drafts_Selling,Telegraphic Transfers_Buying,Telegraphic Transfers_Selling,Import Bills_Selling
0,US Dollar,USD,297.2500,306.7500,299.0984,306.2500,300.2500,306.2500,306.7500
1,Sterling Pound,GBP,369.9493,398.7966,381.3702,398.7966,382.9440,398.7966,399.5942
2,Euro,EUR,311.7229,336.3464,321.6026,336.3464,322.9297,336.3464,337.0191
3,Yen,JPY,1.8700,2.0191,1.9215,2.0191,1.9294,2.0191,2.0232
4,Swiss Franc,CHF,324.3275,353.8858,331.6010,353.8858,332.9693,353.8858,354.5936
5,Australian Dollar,AUD,182.1044,203.7523,193.7322,203.7523,194.5316,203.7523,204.1598
6,Canadian Dollar,CAD,207.6855,224.9068,212.9498,224.9068,213.8285,224.9068,225.3567
7,Singapore Dollar,SGD,213.6554,232.8030,218.2274,232.8030,219.1279,232.8030,233.2686
8,Hongkong Dollar,HKD,35.7888,41.2128,36.3557,41.2128,36.5057,41.2128,41.2952
9,New Zealand Dollar,NZD,163.9666,185.4244,171.9215,185.4244,172.6310,185.4244,185.7953
10,Swedish Kroner,SEK,24.5889,30.5571,25.5178,30.5571,25.6231,30.5571,30.6182
11,Danish Kroner,DKK,38.7098,48.1054,40.1163,48.1054,40.2818,48.1054,48.2016
12,Chinese Renminbi,CNY,34.1947,44.1519,39.1965,44.1519,39.3582,44.1519,44.2402
13,Norwegian Kroner,NOK,24.1460,30.0067,25.0802,30.0067,25.1837,30.0067,30.0667
14,UAE Dirhams,AED,71.6673,87.5593,75.0254,87.5593,76.8725,87.5593,87.7344
15,Saudi Riyal,SAR,73.2300,84.3964,73.7804,84.3964,75.5968,84.3964,84.5652
16,Indian Rupee,INR,NaN,NaN,NaN,NaN,3.2636,3.9877,4.0276

In [42]:
df_dropped.columns = ['Currency', 'Currency_Code', 'Currency_Notes_Buying','Currency_Notes_Selling','Travelers_Cheques/Drafts_Buying_Rate','Travelers_Cheques/Drafts_Selling_Rate','Telegraphic_Transfers_Buying_Rate','Telegraphic_Transfers_Selling_Rate','Import_Bills_Selling']

In [43]:
df_dropped.head(30)

,Currency,Currency_Code,Currency_Notes_Buying,Currency_Notes_Selling,Travelers_Cheques/Drafts_Buying_Rate,Travelers_Cheques/Drafts_Selling_Rate,Telegraphic_Transfers_Buying_Rate,Telegraphic_Transfers_Selling_Rate,Import_Bills_Selling
0,US Dollar,USD,297.2500,306.7500,299.0984,306.2500,300.2500,306.2500,306.7500
1,Sterling Pound,GBP,369.9493,398.7966,381.3702,398.7966,382.9440,398.7966,399.5942
2,Euro,EUR,311.7229,336.3464,321.6026,336.3464,322.9297,336.3464,337.0191
3,Yen,JPY,1.8700,2.0191,1.9215,2.0191,1.9294,2.0191,2.0232
4,Swiss Franc,CHF,324.3275,353.8858,331.6010,353.8858,332.9693,353.8858,354.5936
5,Australian Dollar,AUD,182.1044,203.7523,193.7322,203.7523,194.5316,203.7523,204.1598
6,Canadian Dollar,CAD,207.6855,224.9068,212.9498,224.9068,213.8285,224.9068,225.3567
7,Singapore Dollar,SGD,213.6554,232.8030,218.2274,232.8030,219.1279,232.8030,233.2686
8,Hongkong Dollar,HKD,35.7888,41.2128,36.3557,41.2128,36.5057,41.2128,41.2952
9,New Zealand Dollar,NZD,163.9666,185.4244,171.9215,185.4244,172.6310,185.4244,185.7953
10,Swedish Kroner,SEK,24.5889,30.5571,25.5178,30.5571,25.6231,30.5571,30.6182
11,Danish Kroner,DKK,38.7098,48.1054,40.1163,48.1054,40.2818,48.1054,48.2016
12,Chinese Renminbi,CNY,34.1947,44.1519,39.1965,44.1519,39.3582,44.1519,44.2402
13,Norwegian Kroner,NOK,24.1460,30.0067,25.0802,30.0067,25.1837,30.0067,30.0667
14,UAE Dirhams,AED,71.6673,87.5593,75.0254,87.5593,76.8725,87.5593,87.7344
15,Saudi Riyal,SAR,73.2300,84.3964,73.7804,84.3964,75.5968,84.3964,84.5652
16,Indian Rupee,INR,NaN,NaN,NaN,NaN,3.2636,3.9877,4.0276

In [44]:
df_dropped = df_dropped.fillna(0)
df_dropped.head(24)

,Currency,Currency_Code,Currency_Notes_Buying,Currency_Notes_Selling,Travelers_Cheques/Drafts_Buying_Rate,Travelers_Cheques/Drafts_Selling_Rate,Telegraphic_Transfers_Buying_Rate,Telegraphic_Transfers_Selling_Rate,Import_Bills_Selling
0,US Dollar,USD,297.2500,306.7500,299.0984,306.2500,300.2500,306.2500,306.7500
1,Sterling Pound,GBP,369.9493,398.7966,381.3702,398.7966,382.9440,398.7966,399.5942
2,Euro,EUR,311.7229,336.3464,321.6026,336.3464,322.9297,336.3464,337.0191
3,Yen,JPY,1.8700,2.0191,1.9215,2.0191,1.9294,2.0191,2.0232
4,Swiss Franc,CHF,324.3275,353.8858,331.6010,353.8858,332.9693,353.8858,354.5936
5,Australian Dollar,AUD,182.1044,203.7523,193.7322,203.7523,194.5316,203.7523,204.1598
6,Canadian Dollar,CAD,207.6855,224.9068,212.9498,224.9068,213.8285,224.9068,225.3567
7,Singapore Dollar,SGD,213.6554,232.8030,218.2274,232.8030,219.1279,232.8030,233.2686
8,Hongkong Dollar,HKD,35.7888,41.2128,36.3557,41.2128,36.5057,41.2128,41.2952
9,New Zealand Dollar,NZD,163.9666,185.4244,171.9215,185.4244,172.6310,185.4244,185.7953
10,Swedish Kroner,SEK,24.5889,30.5571,25.5178,30.5571,25.6231,30.5571,30.6182
11,Danish Kroner,DKK,38.7098,48.1054,40.1163,48.1054,40.2818,48.1054,48.2016
12,Chinese Renminbi,CNY,34.1947,44.1519,39.1965,44.1519,39.3582,44.1519,44.2402
13,Norwegian Kroner,NOK,24.1460,30.0067,25.0802,30.0067,25.1837,30.0067,30.0667
14,UAE Dirhams,AED,71.6673,87.5593,75.0254,87.5593,76.8725,87.5593,87.7344
15,Saudi Riyal,SAR,73.2300,84.3964,73.7804,84.3964,75.5968,84.3964,84.5652
16,Indian Rupee,INR,0.0000,0.0000,0.0000,0.0000,3.2636,3.9877,4.0276

In [45]:
df_dropped.to_csv("exchange_rates.csv",index=False)